.back{
    border: 1px var(--font-color);
    width: 30px;
    position: fixed;
    // top: 0px;
    z-index: 5; // always on top (except for stickers)
}

.icon{
    width: 30px;
    transform: rotate(270deg);
}

@media only screen and (max-width: 1000px){
    .back, .icon{
        width: 50px;
    }
}
