.container{
    display: flex;
    flex-direction: column;
}

.modelName{
    font-size: 2rem;
}

.content{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}