.container{
    display: flex;
    flex-direction: row-reverse; //column;
    overflow-x: hidden;
    height: 88%;
    width: 80vw;
    align-items: flex-start;
    // position: relative;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media only screen and (max-width: 1000px){

    .container{
        flex-direction: column;
    }
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    overflow-y: scroll;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

// from https://stackoverflow.com/questions/68111024/how-to-hide-scroll-bar-in-react-app-with-allowing-scrolling
/* hide scrollbar for chrome, safari and opera */
.container::-webkit-scrollbar {
    display: none;
  }

.contentContainer::-webkit-scrollbar {
display: none;
}

.modelContainer{
    align-self: center;
}

.modelName{
    font-size: 2rem;
    padding: 10px 20px;
}

.content{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.model{
    // width: 80vw;
}

@media only screen and (max-width: 1000px){
    .content{
        flex-direction: column;
        width: 100%;
    }

    .contentContainer{
        overflow-y: visible;
    }
}

.header{
    // position: sticky;
    // top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    background-color: var(--background-color);
}

.subheader{
    padding: 10px 20px;
    font-size: 1.5rem;
}

.headInfo{
    padding: 10px 20px;
    font-size: 1.2rem;
}

.allKeywords{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.keyword{
    background-color: var(--font-color);
    color: var(--background-color);
    // width: 20px;
    padding: 2px 6px;
    // margin-left: 10px;
    // margin-bottom: 10px;
}

.textContent{
    // overflow-y: scroll;
    padding: 3vh;
    font-size: 1rem;
    line-height: 2rem;
    // height: 90%;
}

.para{
    padding-bottom: 20px;
}

@media only screen and (max-width: 1000px){

    .textContent{
        font-size: 1.5rem;
    }

    .headInfo{
        font-size: 1.5rem;
    }

    .modelName{
        font-size: 3rem;
    }
}