.personalizemenubox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 15px;
    left: 15px;
    border: 1px var(--font-color) solid;
    width: 250px;
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--font-color);
}

.personalizemenubutton{
    padding: 7px;
    cursor: pointer;
}

.stickersPalette{
    height: 250px;
    overflow: scroll;
}

.stickerOptions{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    // TODO: remove this part from scroll
}

.stickerButtons{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.stickerButton{
    padding: 0px;
    // width: inherit;
    // background-color: lightpink;
}