.personalizemenubox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 15px;
    left: 15px;
    border: 1px var(--font-color) solid;
    width: 250px;
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--font-color);
}

.personalizemenubutton{
    padding: 7px;
    cursor: pointer;
}
