.homecontainer{
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--font-color);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    padding-left: 3vw;
}

.titlebox{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Changed to flex-start for left alignment */
    width: 100%;
    position: relative; /* Add position relative */
}

.title{
    font-weight: normal;
    font-size: 5rem;
    width: 100%;
    position: absolute; /* Position the title absolutely */
    bottom: 100%; /* Position it above the titlebox */
    left: 0; /* Align it to the left */
    margin-bottom: 10px; /* Add some spacing */
}

.animatedtitle{
    width: inherit;
    hyphens: auto;
    word-break: break-all;
    text-align: left; /* Ensure text is left-aligned */
}

.subtitle{
    font-weight: normal;
    font-size: 1.5rem;
    width: 60%;
    padding-left: 0; /* Removed left padding for consistent alignment */
    padding-bottom: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    align-items: flex-start;
    align-self: flex-start; /* Ensure menu stays aligned left */
}

/* Define a shared class for menu icons */
.menuicon-shared {
    width: 85px;
    cursor: pointer;
}

.menuicon {
    composes: menuicon-shared;
}

.menuiconopen {
    composes: menuicon-shared;
    transform: rotate(270deg);
}

.projDropMenu{
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 70%;
}

.menuItem {
    padding-bottom: 10px;
    font-size: 1.3rem;
}

.menuItem a{
    color: var(--font-color);
    text-decoration: none;
}

.menuItem a:visited{
    text-decoration: none;
    color: var(--font-color);
}

.menuHeader{
    font-size: 1.3rem;
    font-weight: 600;
}

/* For cursor if want to customize that */
.animatedtitle::after {
    content: '|';
    animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
    50% {
        opacity: 0;
    }
}

/* Media queries */
@media only screen and (max-width: 1000px) {
    .title{
        font-size: 4rem;
        word-break: break-all;
    }
    
    .animatedtitle{
        padding: 10px;
    }
    
    .subtitle{
        width: 95%;
        padding: 10px;
    }
    
    .menu{
        font-size: 1.3rem;
        flex-direction: column;
        padding: 10px;
    }
    
    .menuicon-shared {
        width: 70px;
        padding-bottom: 10px;
    }
    
    .menuItem {
        padding-bottom: 20px;
    }
}

// .homecontainer{
//     background-color: var(--background-color);
//     font-family: var(--font-family);
//     color: var(--font-color);
//     height: 70vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-top: 30vh;
//     padding-left: 3vw;
// }

// .titlebox{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     width: 100%;
//     position: relative; /* Add position relative */
// }

// .title{
//     font-weight: normal;
//     font-size: 5rem;
//     width: 95%;
//     position: absolute; /* Position the title absolutely */
//     bottom: 100%; /* Position it above the titlebox */
//     left: 0; /* Align it to the right */
//     margin-bottom: 20px; /* Add some spacing */
// }

// .animatedtitle{
//     width: inherit;
//     hyphens: auto;
//     word-break: break-all;
//     text-align: right; /* Ensure text is right-aligned */
// }

// .subtitle{
//     font-weight: normal;
//     font-size: 1.5rem;
//     width: 60%;
//     padding-left: 5px;
//     padding-bottom: 10px;
// }

// .menu{
//     display: flex;
//     flex-direction: row;
//     margin-left: 0px;
//     align-items: flex-start;
// }

// /* Define a shared class for menu icons */
// %menuicon-shared {
//     width: 85px;
//     cursor: pointer;
//     align-self: flex-start;
// }

// .menuicon {
//     @extend %menuicon-shared;
// }

// .menuiconopen {
//     @extend %menuicon-shared;
//     transform: rotate(270deg);
// }

// .projDropMenu{
//     padding-top: 7px;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: space-between;
//     height: 70%;
// }

// .menuItem {
//     padding-bottom: 10px;
//     font-size: 1.3rem;
// }

// .menuItem a{
//     color: var(--font-color);
//     text-decoration: none;
// }

// .menuItem a:visited{
//     text-decoration: none;
//     color: var(--font-color);
// }

// .menuHeader{
//     font-size: 1.3rem;
//     font-weight: 600;
// }

// /* For cursor if want to customize that */
// .animatedtitle::after {
//     content: '|';
//     animation: cursor 1.1s infinite step-start;
// }

// @keyframes cursor {
//     50% {
//         opacity: 0;
//     }
// }

// /* Media queries */
// @media only screen and (max-width: 1000px) {
//     .title{
//         font-size: 4rem;
//         word-break: break-all;
//     }
    
//     .animatedtitle{
//         padding: 10px;
//     }
    
//     .subtitle{
//         width: 95%;
//         padding: 10px;
//     }
    
//     .menu{
//         font-size: 1.3rem;
//         flex-direction: column;
//         padding: 10px;
//     }
    
//     .menuicon-shared {
//         width: 70px;
//         padding-bottom: 10px;
//     }
    
//     .menuItem {
//         padding-bottom: 20px;
//     }
// }

// // .homecontainer{
// //     // pulls variables from global.css
// //     background-color: var(--background-color);
// //     font-family: var(--font-family);
// //     color: var(--font-color);
// //     height: 70vh;
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;
// //     padding-top: 15vh;
// //     padding-left: 3vw; 
// // }

// // .title{
// //     font-weight: normal;
// //     font-size: 5rem;
// //     width: 100%;
// // }

// // .subtitle{
// //     font-weight: normal;
// //     font-size: 1.5rem;
// //     width: 60%;
// //     padding-left: 5px;
// //     padding-bottom: 10px;
// // }

// // @media only screen and (max-width: 1000px){
// //     .subtitle{
// //         width: 95%;
// //         // font-style: italic;
// //         padding: 10px;
// //     }
// // }

// // // for mobile
// // @media only screen and (max-width: 1000px) {
// //     .title{
// //         font-size: 4rem;
// //         word-break: break-all;
// //     }
// // }

// // .titlebox{
// //     display: flex;
// //     flex-direction: column;
// //     align-items: flex-end;
// //     width: 100%;
// // }

// // .animatedtitle{
// //     width: inherit;
// //     hyphens: auto;
// //     word-break: break-all;
// //     padding-bottom: 20px;
// // }

// // // for mobile
// // @media only screen and (max-width: 1000px) {
// //     // so menu never moves when the title changes
// //     .animatedtitle{
// //         // height: 17vh;
// //         padding: 10px;
// //     }
// // }

// // .menu{
// //     display: flex;
// //     flex-direction: row;
// //     margin-left: 0px;
// //     align-items: flex-start;
// // }

// // @media only screen and (max-width: 1000px){
// //     .menu{
// //         font-size: 1.3rem;
// //         flex-direction: column;
// //         padding: 10px;
// //     }
// // }

// // %menuicon-shared{
// //     width: 85px;
// //     cursor: pointer;
// // }

// // @media only screen and (max-width: 1000px){
// //     %menuicon-shared{
// //         width: 70px;
// //         padding-bottom: 10px;
// //     }
// // }

// // .menuicon{
// //     @extend %menuicon-shared;
// // }

// // .menuiconopen{
// //     @extend %menuicon-shared;
// //     transform: rotate(270deg);
// //     }

// // .projDropMenu{
// //     padding-top: 7px;
// //     display: flex;
// //     flex-direction: column;
// //     align-items: flex-start;
// //     justify-content: space-between;
// //     height: 70%;
// // }

// // // .menuItem a:after{
// // //     background-image: url('/icons/right-up.svg');
// // //     background-size: 13px 13px;
// // //     display: inline-block;
// // //     width: 13px; 
// // //     height: 13px;
// // //     content:"";
// // //     margin-left: -5px;
// // //     fill: var(--font-color);
// // // }

// // .menuItem {
// //     padding-bottom: 10px;
// //     font-size: 1.3rem;
// // }

// // .menuItem a{
// //     color: var(--font-color);
// //     text-decoration: none;
// // }

// // .menuItem a:visited{
// //     text-decoration: none;
// //     color: var(--font-color);
// // }

// // @media only screen and (max-width: 1000px){

// //     .menuItem {
// //         padding-bottom: 20px;
// //     }

// // }

// // .menuHeader{
// //     //text-decoration: underline;
// //     //font-weight: 
// //     font-size: 1.3rem;
// //     font-weight: 600;
// // }

// // // for cursor if want to customize that
// // .animatedtitle::after {
// //     content: '|';
// //     animation: cursor 1.1s infinite step-start;
// //     }
    
// //     @keyframes cursor {
// //     50% {
// //         opacity: 0;
// //     }
// // }

// // // .personalizemenubox{
// // //     display: flex;
// // //     flex-direction: column;
// // //     justify-content: flex-end;
// // //     position: fixed;
// // //     bottom: 15px;
// // //     left: 15px;
// // //     border: 1px var(--font-color) solid;
// // //     width: 250px;
// // //     background-color: lightpink;
// // // }

// // // .personalizemenubutton{
// // //     padding: 7px;
// // //     cursor: pointer;
// // //     background-color: lightpink;
// // // }

